<!-- INCLUDE overall_header.html -->
<!-- IF not U_LOGGED_IN -->
	<form id="weather" method="post" action="{S_ACTION}">
	
	<h2>Input Your Weather Location</h2>
	
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<fieldset>
				<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
				<dl>
					<dt style="width: 60px;"><label for="location">{L_LOCATION}:</label></dt>
					<dd style="margin-left: 80px;"><input style="width: 180px;" type="text" name="location" id="location" maxlength="35" value="{LOCATION}" class="inputbox" /></dd>
				</dl>
			</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<fieldset class="submit-buttons" style="text-align: left; margin-left: 100px;">
		{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>
<!-- ENDIF -->
<div id="weather_block" style="width: 100%; margin: 0px;">
	<div class="panel bg1">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div id="weather_head">	
				<h3>Your Weather Conditions</h3>
				<p style="margin-bottom: 0px;"><b>Location:</b> {CITY} <b style="padding-left: 30px;">Date:</b> {TIME}</p>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div style="width: 130px; float: left; margin: 5px;">
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt style="width: 100%; padding-right: 0px;">Current Conditions</dt>
						</dl>
					</li>
				</ul>
				<ul class="forums" style="list-style: none; padding:0px;">
					<li class="row" style="border: none; padding: 5px;">
						<dl class="icon" title="Your Current Weather is {CURRENT}">
							<dd><b>{CURRENT}</b></dd>
							<dd><img src="{ICON}" width="110px" alt="weather conditions" /></dd>
							<dd>{TEMP_F}&deg;F</dd>
							<dd>{TEMP_C}&deg;C</dd>
							<dd>{WIND}</dd>
							<dd>{HUMIDITY}</dd>
						</dl>
					</li>
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	</div>
	
	<!-- BEGIN weather -->
		<div style="width: 130px; float: left; margin: 5px;">
			<div class="forabg">
				<div class="inner"><span class="corners-top"><span></span></span>
					<ul class="topiclist">
						<li class="header">
							<dl class="icon">
								<dt style="width: 100%; padding-right: 0px;">{weather.DAY}</dt>
							</dl>
						</li>
					</ul>
					<ul class="forums" style="list-style: none; padding: 0px;">
						<li class="row" style="border: none; padding: 5px;">
							<dl class="icon" title="For {weather.DAY} expect it to be {weather.WEATHER}">
								<dd><b>{weather.WEATHER}</b></dd>
								<dd><img src="{weather.IMAGE}" width="110px" alt="weather conditions" /></dd>
								<dd><b>High:</b> {weather.HIGH}&deg;F</dd>
								<dd style="padding-bottom: 25px;"><b>Low:</b> {weather.LOW}&deg;F</dd>
							</dl>
						</li>
					</ul>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		</div>
	<!-- END weather -->
	
	<div class="clear"></div>
	
	<p style="margin: 0px 0px 0px 20px; padding: 0px; width: 300px; float: left;">{COPY}</p>
	<p style="float: left; width: 160px;">Weather Via: Google</p>
	
	<div class="clear"></div>

</div>
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->